*
{
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  /* margin: 2rem auto; */
}

main {
  display: inline-block;
  align-items: center;
  /* max-width: 42rem; */
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
}

nav {
  /* position: fixed;
  top: 5em;
  right: 10em; */

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.1rem;
  background-color: #56606556;
}

nav button {
  
  display: block;
  margin: 0.2rem;
  
  
}

button {
  font-size: 2rem;
  font-weight: bold;
}


header {
  /* position: fixed;
  z-index: 10000;
  left: 0;
  top: 0; */
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  height: 3em;
  line-height: 3em;
  box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
}

header h1 {
  display: inline-block;
  margin-left: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: inherit;
  letter-spacing: -0.0325em;
}